html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  -webkit-tap-highlight-color: transparent;
}

.gameContainer {
  display: flex;
  flex-direction: column;
}
